

.picture{
    
    max-width:600px;
    margin: 80px auto;
    border:1px solid #e6e6e6;
    background-color: white;
    
}
.pictureHeader{
    
    max-width: 600px;
    display: block;
    max-height:50px;
    padding:10px;
    border-bottom: 1px solid #efefef;
}
.username{
    
    font-weight: bold;
    text-decoration: none;
    color:black;
}
.picture img{
    display: block;
    width: 100%;
}
.pictureFooter{
    border-top: 1px solid #efefef;
}
.pictureActions{
    display: flex;
    flex-direction: row; 
}
.glyph{
    background-image: url('/img/f86e62b5d0c7.png');
    background-repeat: no-repeat;
    height:24px;
    width:24px;
}
.glyphHeart{
   background-position: -104px -142px;
}
.glyphHeart-liked{
    background-position: -78px -142px;
}
.glyphComment{
    background-position: -182px -194px;
}
.glyphShare{
    background-position: -130px -194px;
}
.glyphSave{
    background-position: 0 -194px;
    
}

.pictureComments{
    max-height: 325px;
    overflow-y: auto;
}

@media (min-width: 100px) { 
    .pictureComments{
        max-height: 80px;
    }
 }

@media (min-width: 576px) { 
    .pictureComments{
        max-height: 100px;
    }
 }


@media (min-width: 768px) { 
    .pictureComments{
    max-height: 100px;
    } 
}


@media (min-width: 992px) { 
    .pictureComments{
        max-height: 325px;
    }
 }


@media (min-width: 1200px) { 
    .pictureComments{
        max-height: 325px;
    }
 }

.title{
    display: inline;
}